*{
    font-family: "Montserrat", sans-serif;
}

:root{
    --yellow: rgb(255,237,0);
    --main: rgb(29,21,73);
    --acc: rgb(187,38,193);
}

.header-custom{
    background-image: url(./media/bg-1.jpg);
}


.btn-custom{
    border: 1px solid var(--yellow);
    color: var(--yellow);
}

.btn-custom:hover{
    background-color: var(--yellow);
    transition: 0.5s;
}

.bi-calendar-event-fill{
    color: var(--yellow);
}

.section2-custom{
    background-color: var(--main);
}

.calendar-form{
    font-size: 50px;
    margin-right: 20px;
    background-color: var(--yellow);
    border-radius: 50%;
    padding: 10px 20px;
}

.section3-custom{
    min-height: 70vh;
    background-image: url(./media/bg-2.jpg);
    background-size: cover;
    background-position: center;
}

.form-custom{
    background-color: var(--main);
    padding: 70px 30px;
    border-radius: 20px;
    top: 100px;
}

input{
    background-color: var(--main);
    border: none;
    border-bottom: 1px solid var(--acc);
}

.section4-custom{
    background-color: rgb(28, 21, 68);
    padding: 100px 20px;

}

.h2-title{
    color: var(--yellow);
}

.section5-custom{
    background-image: url(./media/bg-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h2title{
    color: var(--yellow);
}